[Unit]
Description=smartsys_gpio service
After=smsd.service postgresql.service

[Service]
PermissionsStartOnly=true
ExecStartPre=/bin/sh -c '/bin/mkdir /var/log/smartsys; /bin/chown smartsys:smartsys /var/log/smartsys'
ExecStart=/opt/smartsys/smartsys_gpio.py
Type=simple
User=smartsys
Restart=always
StartLimitBurst=10
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
