[Unit]
Description=smartsys service
After=smsd.service postgresql.service smartsys_gpio.service

[Service]
ExecStart=/opt/smartsys/smartsys.p
Type=simple
User=smartsys
Restart=always
StartLimitBurst=10
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target

