[Unit]
Description=Gammu SMS Daemon
After=postgresql.service

[Service]
Type=forking
PIDFile=/var/run/smsd.pid
ExecStart=/usr/local/bin/gammu-smsd -c "/usr/local/etc/gammu-smsdrc" --daemon --user gammu --pid /var/run/smsd.pid
Restart=always
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
